@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;800&display=swap');


body {
margin: 0;
font-family: 'Raleway', sans-serif;
background: linear-gradient(to bottom, #1e3c72, #2a5298);
color: #fff;
}


.hidden { display: none; }


.intro {
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
position: relative;
}


.intro-content {
z-index: 2;
padding: 20px;
}


h1 { font-size: 8vw; margin-bottom: 10px; }
.subtitle { font-size: 1.4rem; margin-bottom: 30px; }


#startBtn {
padding: 18px 36px;
font-size: 1.2rem;
border: none;
border-radius: 14px;
background: #c62828;
color: white;
font-weight: bold;
}


.quiz-container, #result-box {
background: #fff;
color: #333;
max-width: 90%;
margin: 40px auto;
padding: 30px;
border-radius: 18px;
text-align: center;
}


#answers button {
margin: 10px;
padding: 14px 22px;
border: none;
border-radius: 10px;
background: #2a5298;
color: #fff;
}


.ticket-img {
}
